<html>
 <head>
   <meta charset="utf-8">
    <title>this is trial</title>
  </head>
  <body>
    <h1>printing trial</h1>
      <p>vwhdgf</p>

      <footer>
        <p> mining123:{{mining}}  </p>
      </footer>
    </body>
  </html>
